:root{
    font-size: 16px;
    font-family:'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232eb6;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.2rem;
}

body::-webkit-scrollbar-track{
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background: gray;
}

.navbar{
    white-space: nowrap;
    position: fixed;
    background-color: rgba(11, 5, 26, 0.65);
    transition: width 200ms ease;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



/* .navbar:hover svg{
    height: 2rem;
    width: 2rem;
} */

.navbar svg{
    height: 2rem;
    width: 2rem;
}

.nav-link:hover{
    background-color: var(--bg-secondary);
    opacity: 0.9;
}

/* .navbar:hover .fa-logo-large{
    display: block;
    height: 2rem;
} */
/* .navbar:hover .fa-logo-small{
    display: none;
} */

.logo-nav{
    display: flex;
    align-items: center;
    height: 3.7rem;
    color: var(--text-primary);
    text-decoration: none;
    background-color: var(--bg-secondary);
    opacity: 0.8;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 3.7rem;
    color: var(--text-primary);
    text-decoration: none;
}
/* .nav-link svg{
    min-width: 2rem;
    margin: 0 0.5rem;
} */

/* .fa-logo-large{
    display: none;
    height: 2rem;
    width: auto;
} */

.page-name-link-text{
    font:800;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}


main{
    margin-left: 5rem;
    padding: 1rem;
}

.svg-inline--fa{
    margin: 1rem;
}

.fa-rocket-launch .fa-secondary{
    color: orangered;
}

.fa-rocket-launch .fa-primary{
    color: rgb(107, 107, 107);
}

.fa-planet-moon .fa-secondary{
    color: rgb(68, 171, 231);
}

.fa-planet-moon .fa-primary{
    color: white;
}

.fa-galaxy .fa-secondary{
    color: rgb(165, 164, 165);
}

.fa-galaxy .fa-primary{
    color: rgb(255, 255, 254);
}

.fa-comet .fa-secondary{
    color: rgb(255, 136, 0);
}

.fa-comet .fa-primary{
    color: rgb(5, 5, 5);
}

/* Small screen target */
@media only screen and (max-width:600px) {
    .navbar{
        bottom: 0;
        height: 3.7rem;
        width: 100vw;

    }
    .logo-nav{
        display: none;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
    }
    main{
        margin: 0;
    }
    
}

/* Large screen target */
@media only screen and (min-width:600px) {
    .navbar{
        top: 0;
        width: 3.7rem;
        height: 100vh;

    }
    .navbar:hover{
        width: 15rem;
    }
    .navbar:hover .link-text{
        display: block;
    }
}